:host {
    display: flex;
    justify-content: space-between;

    .my-musics {
        max-height: 100vh;
        overflow-y: scroll;
        padding: 0 50px;
        padding-bottom: 20px;
        width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .right-panel {
        height: 100vh;
    }
}