@import 'variables';

.table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;

    .play {
        color: $primary-color;
        font-size: .8rem;
    }

    .playing {
        background-color: &background-color2;
        padding: 10px;
        box-shadow: 0 0 15px $transparent-black-30;
    }

    thead th {
        font-size: .75rem;
        font-weight: 600;
        color: $transparent-black-30;
    }

    th, td {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tr {
        &:hover {
            td { 
                color: $primary-color;
            }
            
            cursor: pointer;
        }

        td {
            color: $transparent-black-70;
            font-size: .85rem;
            font-weight: 500;
            margin-top: 10px;
            padding: 10px 20px 10px 0;
            padding-left: 10px;
        }
    }

    .right {
        text-align: right;
    }

    .w {
        @for $i from 1 to 10 {
            $width: $i * 5;
            &-#{ $width } {
                width: #{$width * 1%};
            }
        }
    }
}