<table class="table mt-3">
    <thead>
        <tr>
            <th class="w-5">#</th>
            <th class="w-35">Título</th>
            <th class="w-35">Artista</th>
            <th class="w-10 right">Duração</th>
            <th class="w-20">Albúm</th>
        </tr>
    </thead>
    <tbody>
        <tr [class.playing] = "track.id == actualTrack.id" *ngFor="let track of tracksList" (click)="playTrack(track)">
            <td>
                <fa-icon class="play" [icon]="playIcon" ></fa-icon>
            </td>
            <td>{{track.title}}</td>
            <td>{{getTrackArtists(track)}}</td>
            <td class="right">{{track.duration}}</td>
            <td>{{track.album.name}}</td>
        </tr>
    </tbody>
</table>
