@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 200px;
    overflow: hidden;
    width: 100%;

    .image {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 65%;
        opacity: .7;
    }

    .controls {
        background-color: $transparent-black-70;
        color: $background-color2;
        flex-grow: 1;
        padding: 10px;

        span {
            font-size: .9rem;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .buttons {
            align-items: center;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            height: 100%;
            justify-content: space-evenly;
            max-height: 200px;
            overflow: hidden;
            width: 100%;
        }
    }
}