$background-color: #FBFEF4;
$background-color2: #FFF;

$transparent-black-03: #00000008;
$transparent-black-20: #00000033;
$transparent-black-30: #0000004D;
$transparent-black-70: #000000b3;

$primary-color: #37AB00;